# Python
*.py[cod]
__pycache__/
*.so
*.pyd
*.pyo

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.bak
*.swp
*~
staticfiles/

# Virtualenv
venv/
ENV/
env/
env.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Docker
*.env
*.env.*
docker-compose.override.yml
